body{
    font-family: 'Bebas Neue', cursive;
    margin:0;
}
h1{
    font-size: 70px;
}
h3{
    font-size: 40px;
}
span{
    color: rgb(183, 59, 255);
}
h2{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.classone img{
    width:95%;
    
    
}
.classone{
    width: 40%;
    padding-left: 5%;
    padding-top: 100px; 
}
p{
    font-size: 30px;
}
a{
    font-size: 25px;
}
.link-button{
    text-decoration:none;
    background-color:rgb(255, 35, 90);
    color:rgb(255, 255, 255) ;
    padding: 5px 20px;
    border-radius:15px;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat:no-repeat;
}
.classtwo{
    width: 50%;
}
.dream-big{
    padding-top: 100px;
    padding-left: 45px;
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.bottom{
    width: 40%;
    font-size: 20px;
}
.resume{
    background-color: rgb(255, 115, 0);
    text-decoration: none; 
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 10px;

    
}
.one{
    width: 50%;
    box-shadow: 1px 5px 50px red;
    margin-left: 5%;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 40px;
   
}
.color{
    color: rgb(255, 62, 245);
}
.background{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:0px 0px 200px 0px; 
}
.adjust{
    padding-left: 130px;
    margin: 20px;
}
#web-dev1{
    border-left:10px solid;
    border-color: cyan;
    border-image-slice: 1;
}
#web-dev2{
    border-left:10px solid;
    border-color: rgb(0, 255, 21);
}
footer{
    text-align: center;
}